<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<script type="text/javascript">
    $(function () {
        $('.modal').modal('show');
    });
</script>
<div class="modal fade" tabindex="-1" role="dialog" dir="rtl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">پیام</h4>
            </div>
            <div class="modal-body">
                <h1>عملیات ارسال پیام </h1>
                <h2>با موفقیت انجام شد</h2>
                <a href="/">بازگشت</a>
            </div>

        </div>
    </div>
</div>

